<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workbei.dao.summary.WbSummaryDao">

    <insert id="saveOrUpdateCorpus" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO corpus (
        version,
        date_created,
        last_updated,
        `name`,
        type,
        is_display,
        cover,
        attribute,
        default_role,
        can_be_shared,
        allow_edit_before_doc,
        allow_add_before_doc
        )VALUES(
        0,
        now(),
        now(),
        #{name},
        #{type},
        #{isDisplay},
        #{cover},
        #{attribute},
        #{defaultRole},
        #{canBeShared},
        #{allowEditBeforeDoc},
        #{allowAddBeforeDoc}
        )ON DUPLICATE KEY UPDATE last_updated=now()
    </insert>
    <insert id="saveOrUpdateSummary" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO summary (
        version,
        date_created,
        last_updated,
        corpus_id,
        note_book_id,
        `name`,
        `date`,
        is_open_to_member,
        is_display,
        is_share,
        is_note_book,
        `code`,
        is_system,
        display_order
        )VALUES(
        0,
        now(),
        now(),
        #{corpusId},
        #{noteBookId},
        #{name},
        #{date},
        #{isOpenToMember},
        #{isDisplay},
        #{isShare},
        #{isNoteBook},
        #{code},
        #{isSystem},
        #{displayOrder}
        )ON DUPLICATE KEY UPDATE last_updated=now()
    </insert>
    <update id="updateSummaryCode">
        UPDATE summary SET `code`=#{code} WHERE id=#{id}
    </update>
    <insert id="saveOrUpdateSummaryNote" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO summary_note (
        version,
        date_created,
        last_updated,
        summary_id,
        note
        )VALUES(
        0,
        now(),
        now(),
        #{summaryId},
        #{note}
        )ON DUPLICATE KEY UPDATE last_updated=now()
    </insert>
    <insert id="saveOrUpdateCorpusDepartmentMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO corpus_department_member (
        version,
        department_id,
        role,
        corpus_id
        )VALUES(
        0,
        #{departmentId},
        #{role},
        #{corpusId}
        )
    </insert>
</mapper>