<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring-dao.xml"/>

    <!--manager-->
    <bean id="appManager" class="com.workbei.manager.app.impl.AppManagerImpl">
        <constructor-arg ref="wbOuterDataAppDao"/>
    </bean>
    <bean id="roleManager" class="com.workbei.manager.user.impl.RoleManagerImpl">
        <constructor-arg ref="wbRoleDao"/>
    </bean>
    <bean id="accountManager" class="com.workbei.manager.user.impl.AccountManagerImpl">
        <constructor-arg ref="wbAccountDao"/>
    </bean>
    <bean id="teamManager" class="com.workbei.manager.user.impl.TeamManagerImpl">
        <constructor-arg ref="wbTeamDao"/>
        <constructor-arg ref="wbOuterDataTeamDao"/>
    </bean>
    <bean id="departmentManager" class="com.workbei.manager.user.impl.DepartmentManagerImpl">
        <constructor-arg ref="wbDepartmentDao"/>
        <constructor-arg ref="wbOuterDataDepartmentDao"/>
    </bean>
    <bean id="userManager" class="com.workbei.manager.user.impl.UserManagerImpl">
        <constructor-arg ref="wbUserDao"/>
        <constructor-arg ref="wbOuterDataUserDao"/>
    </bean>

    <!--基础service-->
    <bean id="solutionBizService" class="com.workbei.service.solution.impl.SolutionServiceImpl"/>
    <bean id="tokenAuthService" class="com.workbei.service.tokenauth.impl.TokenAuthServiceImpl"/>
    <bean id="queryService" class="com.workbei.service.autocreate.impl.QueryServiceImpl"/>
    <bean id="autoCreateService" class="com.workbei.service.autocreate.impl.AutoCreateServiceImpl">
        <constructor-arg ref="roleManager"/>
        <constructor-arg ref="accountManager"/>
        <constructor-arg ref="teamManager"/>
        <constructor-arg ref="departmentManager"/>
        <constructor-arg ref="userManager"/>
    </bean>
</beans>