<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring-dao.xml" />

    <!--基础service-->
    <bean id="demoService" class="com.workbei.service.biz.impl.DemoServiceImpl" />
    <bean id="solutionBizService" class="com.workbei.service.biz.impl.SolutionBizServiceImpl" />
    <bean id="autoCreateBizService" class="com.workbei.service.biz.impl.AutoCreateBizServiceImpl" />
    <bean id="teamManageService" class="com.workbei.service.base.impl.TeamManageServiceImpl" />
    <bean id="departmentManageService" class="com.workbei.service.base.impl.DepartmentManageServiceImpl" />
    <bean id="userManageService" class="com.workbei.service.base.impl.UserManageServiceImpl" />
    <bean id="roleManageService" class="com.workbei.service.base.impl.RoleManageServiceImpl" />
</beans>