<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workbei.dao.user.WbAccountDao">

    <!--account相关-->
    <insert id="saveOrUpdateAccount" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `account` (
            uuid,
            version,
            birth,
            phone_number,
            `name`,
            account_locked,
            `password`,
            is_check_email,
            email,
            avatar
        )VALUES(
            #{uuid},
            0,
            #{birth},
            #{phoneNumber},
            #{name},
            #{accountLocked},
            #{password},
            #{isCheckEmail},
            #{email},
            #{avatar}
        )ON DUPLICATE KEY UPDATE
            version=version+1,
            birth=#{birth},
            `phone_number`=#{phoneNumber},
            `name`=#{name},
            `account_locked`=#{accountLocked},
            `password`=#{password},
            `is_check_email`=#{isCheckEmail},
            `email`=#{email},
            `avatar`=#{avatar}
    </insert>
    <resultMap type="com.workbei.model.domain.user.WbAccountDO" id="accountMap">
        <id property="id" column="id" />
        <result property="uuid" column="uuid" />
        <result property="birth" column="birth" />
        <result property="phoneNumber" column="phone_number" />
        <result property="name" column="name" />
        <result property="accountLocked" column="account_locked" />
        <result property="password" column="password" />
        <result property="isCheckEmail" column="is_check_email" />
        <result property="email" column="email" />
        <result property="avatar" column="avatar" />
    </resultMap>
    <sql id="select-all-fields-account">
        id,
        uuid,
        birth,
        phone_number,
        `name`,
        account_locked,
        `password`,
        is_check_email,
        email,
        avatar
    </sql>
    <select id="getAccountById" resultMap="accountMap">
        SELECT <include refid="select-all-fields-account"/>  FROM `account`
        <![CDATA[
			WHERE id=#{id}
		 ]]>
    </select>
    <select id="getAccountByClientAndOuterId" resultMap="accountMap">
        SELECT
            a.id,
            a.uuid,
            a.birth,
            a.phone_number,
            a.`name`,
            a.account_locked,
            a.`password`,
            a.is_check_email,
            a.email,
            a.avatar
        FROM `user` u
            LEFT JOIN `account` a ON u.account_id=a.id
            LEFT JOIN `outer_data_user` o ON o.user_id=u.id
        <![CDATA[
        WHERE o.outer_id=#{outerId}
		 ]]>
    </select>
    <select id="getAccountByIdDdUnionId" resultMap="accountMap">
        SELECT
            a.id,
            a.uuid,
            a.birth,
            a.phone_number,
            a.`name`,
            a.account_locked,
            a.`password`,
            a.is_check_email,
            a.email,
            a.avatar
        FROM `account` a
            LEFT JOIN `user_oauth` o ON o.account_id=a.id
        <![CDATA[
        WHERE o.dd_union_id=#{ddUnionId}
        ]]>
    </select>

    <!--userOauth相关-->
    <insert id="saveOrUpdateUserOauth" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user_oauth` (
            version,
            date_created,
            last_updated,
            account_id,
            weixin_union_id,
            weixin_name,
            qq_open_id,
            qq_name,
            sina_open_id,
            sina_name,
            xiaomi_open_id,
            xiaomi_name,
            dd_union_id,
            dd_webjsonuser,
            outer_id
        )VALUES(
            0,
            now(),
            now(),
            #{accountId},
            #{weixinUnionId},
            #{weixinName},
            #{qqOpenId},
            #{qqName},
            #{sinaOpenId},
            #{sinaName},
            #{xiaomiOpenId},
            #{xiaomiName},
            #{ddUnionId},
            #{ddWebjsonuser},
            #{outerId}
        )ON DUPLICATE KEY UPDATE
            version=version+1,
            last_updated=now(),
            dd_union_id=#{ddUnionId}
    </insert>
    <resultMap type="com.workbei.model.domain.user.WbUserOauthDO" id="userOauthMap">
        <id property="id" column="id" />
        <result property="dateCreated" column="date_created" />
        <result property="lastUpdated" column="last_updated" />
        <result property="accountId" column="account_id" />
        <result property="weixinUnionId" column="weixin_union_id" />
        <result property="weixinName" column="weixin_name" />
        <result property="qqOpenId" column="qq_open_id" />
        <result property="qqName" column="qq_name" />
        <result property="sinaOpenId" column="sina_open_id" />
        <result property="sinaName" column="sina_name" />
        <result property="xiaomiOpenId" column="xiaomi_open_id" />
        <result property="xiaomiName" column="xiaomi_name" />
        <result property="ddUnionId" column="dd_union_id" />
        <result property="ddWebjsonuser" column="dd_webjsonuser" />
        <result property="outerId" column="outer_id" />
    </resultMap>
    <sql id="select-all-fields-user-oauth">
        id,
        version,
        date_created,
        last_updated,
        account_id,
        weixin_union_id,
        weixin_name,
        qq_open_id,
        qq_name,
        sina_open_id,
        sina_name,
        xiaomi_open_id,
        xiaomi_name,
        dd_union_id,
        dd_webjsonuser,
        outer_id
    </sql>
    <select id="getUserOauthByDdUnionId" resultMap="userOauthMap">
        SELECT <include refid="select-all-fields-user-oauth"/>  FROM user_oauth
        <![CDATA[
			WHERE dd_union_id=#{ddUnionId}
		 ]]>
    </select>
    <select id="getUserOauthByAccountId" resultMap="userOauthMap">
        SELECT <include refid="select-all-fields-user-oauth"/>  FROM user_oauth
        <![CDATA[
			WHERE account_id=#{accountId}
		 ]]>
    </select>

    <!--userRegister相关-->
    <insert id="saveOrUpdateUserRegister" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user_register` (
            version,
            date_created,
            last_updated,
            reg_date,
            account_id,
            `mode`,
            `client`,
            is_system
        )VALUES(
            0,
            now(),
            now(),
            #{regDate},
            #{accountId},
            #{mode},
            #{client},
            #{isSystem}
        )ON DUPLICATE KEY UPDATE
            version=version+1
    </insert>
    <resultMap type="com.workbei.model.domain.user.WbUserRegisterDO" id="userRegisterMap">
        <id property="id" column="id" />
        <result property="dateCreated" column="date_created" />
        <result property="lastUpdated" column="last_updated" />
        <result property="accountId" column="account_id" />
        <result property="regDate" column="reg_date" />
        <result property="mode" column="mode" />
        <result property="client" column="client" />
        <result property="isSystem" column="is_system" />
    </resultMap>
    <sql id="select-all-fields-user-register">
        id,
        version,
        date_created,
        last_updated,
        account_id,
        reg_date,
        `mode`,
        `client`,
        is_system
    </sql>
    <select id="getUserRegisterByAccountId" resultMap="userRegisterMap">
        SELECT <include refid="select-all-fields-user-register"/>  FROM user_register
        <![CDATA[
			WHERE account_id=#{accountId}
		 ]]>
    </select>
</mapper>