<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workbei.dao.user.WbUserDao">

    <!--user相关-->
    <insert id="saveOrUpdateUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (
            version,
            is_parent,
            position,
            team_id,
            username,
            `name`,
            account_id,
            is_display
        )VALUES(
            0,
            #{isParent},
            #{position},
            #{teamId},
            #{username},
            #{name},
            #{accountId},
            #{isDisplay}
        )ON DUPLICATE KEY UPDATE
            version=version+1,
            `name`=#{name},
            team_id=#{teamId}
    </insert>
    <resultMap id="userMap" type="com.workbei.model.domain.user.WbUserDO">
        <id property="id" column="id" />
        <result property="version" column="version" />
        <result property="isParent" column="is_parent" />
        <result property="position" column="position" />
        <result property="teamId" column="team_id" />
        <result property="username" column="username" />
        <result property="name" column="name" />
        <result property="accountId" column="account_id" />
        <result property="isDisplay" column="is_display" />
        <association property="account"
                     columnPrefix="act_"
                     resultMap="com.workbei.dao.user.WbAccountDao.accountMap" />
    </resultMap>
    <sql id="select-all-fields-user">
        id,
        version,
        is_parent,
        position,
        team_id,
        username,
        `name`,
        account_id,
        is_display
    </sql>
    <select id="listUserByTeamId" resultMap="userMap">
        SELECT <include refid="select-all-fields-user"/>  FROM `user`
        <![CDATA[
			WHERE team_id=#{teamId}
		 ]]>
    </select>
    <select id="getUserById" resultMap="userMap">
        SELECT <include refid="select-all-fields-user"/>  FROM `user`
        <![CDATA[
			WHERE id=#{id}
		 ]]>
    </select>
    <select id="getUserByClientAndOuterId" resultMap="userMap">
        SELECT
            u.id,
            u.version,
            u.is_parent,
            u.position,
            u.team_id,
            u.username,
            u.`name`,
            u.account_id,
            u.is_display
        FROM `user` u
        INNER JOIN outer_data_user o ON u.id=o.user_id
        <![CDATA[
			WHERE o.client=#{client} AND o.outer_id=#{outerId}
		 ]]>
    </select>
    <select id="getUserWithAccountById" resultMap="userMap">
        SELECT
            u.id AS id,
            u.version AS version,
            u.is_parent AS is_parent,
            u.position AS position,
            u.team_id AS team_id,
            u.username AS username,
            u.`name` AS name,
            u.account_id AS account_id,
            u.is_display AS is_display,
            a.id AS act_id,
            a.uuid AS act_uuid,
            a.birth AS act_birth,
            a.phone_number AS act_phone_number,
            a.`name` AS act_name,
            a.account_locked AS act_account_locked,
            a.`password` AS act_password,
            a.is_check_email AS act_is_check_email,
            a.email AS act_email,
            a.avatar AS act_avatar
        FROM `user` u
            LEFT JOIN `account` a ON u.account_id=a.id
        <![CDATA[
        WHERE u.id=#{id}
        ]]>
    </select>


    <!--userGuide相关-->
    <insert id="saveOrUpdateUserGuide" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_guide (
            version,
            user_id,
            guide_kanban_flag,
            guide_web_flag,
            guide_task_flag,
            guide_note_flag
        )VALUES(
            0,
            #{userId},
            #{guideKanbanFlag},
            #{guideWebFlag},
            #{guideTaskFlag},
            #{guideNoteFlag}
        )ON DUPLICATE KEY UPDATE
            version=version+1,
            guide_kanban_flag=#{guideKanbanFlag},
            guide_web_flag=#{guideWebFlag},
            guide_task_flag=#{guideTaskFlag},
            guide_note_flag=#{guideNoteFlag}
    </insert>
    <resultMap type="com.workbei.model.domain.user.WbUserGuideDO" id="userGuideMap">
        <id property="id" column="id" />
        <result property="version" column="version" />
        <result property="userId" column="user_id" />
        <result property="guideKanbanFlag" column="guide_kanban_flag" />
        <result property="guideWebFlag" column="guide_web_flag" />
        <result property="guideTaskFlag" column="guide_task_flag" />
        <result property="guideNoteFlag" column="guide_note_flag" />
    </resultMap>
    <sql id="select-all-fields-user-guide">
        id,
        version,
        user_id,
        guide_kanban_flag,
        guide_web_flag,
        guide_task_flag,
        guide_note_flag
    </sql>
    <select id="getUserGuideByUserId" resultMap="userGuideMap">
        SELECT <include refid="select-all-fields-user-guide"/>  FROM `user_guide`
        <![CDATA[
			WHERE user_id=#{userId}
		 ]]>
    </select>

    <!--userDisplayOrder相关-->
    <insert id="saveOrUpdateUserDisplayOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_display_order (
            version,
            date_created,
            last_updated,
            user_id,
            max_star_corpus_display_order,
            min_star_corpus_display_order,
            max_star_kanban_display_order,
            min_star_kanban_display_order,
            max_corpus_display_order,
            min_corpus_display_order,
            max_kanban_display_order,
            min_kanban_display_order
        )VALUES(
            0,
            now(),
            now(),
            #{userId},
            #{maxStarCorpusDisplayOrder},
            #{minStarCorpusDisplayOrder},
            #{maxStarKanbanDisplayOrder},
            #{minStarKanbanDisplayOrder},
            #{maxCorpusDisplayOrder},
            #{minCorpusDisplayOrder},
            #{maxKanbanDisplayOrder},
            #{minKanbanDisplayOrder}
        )ON DUPLICATE KEY UPDATE
            version=version+1
    </insert>
    <resultMap type="com.workbei.model.domain.user.WbUserDisplayOrderDO" id="userDisplayOrderMap">
        <id property="id" column="id" />
        <result property="version" column="version" />
        <result property="dateCreated" column="date_created" />
        <result property="dateCreated" column="date_created" />
        <result property="userId" column="user_id" />
        <result property="maxStarCorpusDisplayOrder" column="max_star_corpus_display_order" />
        <result property="minStarCorpusDisplayOrder" column="min_star_corpus_display_order" />
        <result property="maxStarKanbanDisplayOrder" column="max_star_kanban_display_order" />
        <result property="minStarKanbanDisplayOrder" column="min_star_kanban_display_order" />
        <result property="maxCorpusDisplayOrder" column="max_corpus_display_order" />
        <result property="minCorpusDisplayOrder" column="min_corpus_display_order" />
        <result property="maxKanbanDisplayOrder" column="max_kanban_display_order" />
        <result property="minKanbanDisplayOrder" column="min_kanban_display_order" />
    </resultMap>
    <sql id="select-all-fields-user-display-order">
        id,
        version,
        date_created,
        last_updated,
        user_id,
        max_star_corpus_display_order,
        min_star_corpus_display_order,
        max_star_kanban_display_order,
        min_star_kanban_display_order,
        max_corpus_display_order,
        min_corpus_display_order,
        max_kanban_display_order,
        min_kanban_display_order
    </sql>
    <select id="getUserDisplayOrderByUserId" resultMap="userDisplayOrderMap">
        SELECT <include refid="select-all-fields-user-display-order"/>  FROM `user_display_order`
        <![CDATA[
			WHERE user_id=#{userId}
		 ]]>
    </select>

    <!--userUiSetting相关-->
    <insert id="saveOrUpdateUserUiSetting" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_ui_setting (
            version,
            date_created,
            last_updated,
            user_id,
            narrow_the_corpus,
            company_view,
            narrow_the_kanban,
            day_alert_time,
            narrow_the_company,
            expire_alert_flag,
            lunar_flag,
            theme_skin,
            phone_theme_skin,
            regist_alert_flag,
            show_tip_box,
            narrow_the_inbox,
            narrow_the_application,
            festival_flag,
            theme_bg,
            first_delete_flag,
            inbox_mode
        )VALUES(
            0,
            now(),
            now(),
            #{userId},
            #{narrowTheCorpus},
            #{companyView},
            #{narrowTheKanban},
            #{dayAlertTime},
            #{narrowTheCompany},
            #{expireAlertFlag},
            #{lunarFlag},
            #{themeSkin},
            #{phoneThemeSkin},
            #{registAlertFlag},
            #{showTipBox},
            #{narrowTheInbox},
            #{narrowTheApplication},
            #{festivalFlag},
            #{themeBg},
            #{firstDeleteFlag},
            #{inboxMode}
        )ON DUPLICATE KEY UPDATE
            version=version+1,
            last_updated=now(),
            narrow_the_corpus=#{narrowTheCorpus},
            company_view=#{companyView},
            narrow_the_kanban=#{narrowTheKanban},
            day_alert_time=#{dayAlertTime},
            narrow_the_company=#{narrowTheCompany},
            expire_alert_flag=#{expireAlertFlag},
            lunar_flag=#{lunarFlag},
            theme_skin=#{themeSkin},
            phone_theme_skin=#{phoneThemeSkin},
            regist_alert_flag=#{registAlertFlag},
            show_tip_box=#{showTipBox},
            narrow_the_inbox=#{narrowTheInbox},
            narrow_the_application=#{narrowTheApplication},
            festival_flag=#{festivalFlag},
            theme_bg=#{themeBg},
            first_delete_flag=#{firstDeleteFlag},
            inbox_mode=#{inboxMode}
    </insert>
    <resultMap type="com.workbei.model.domain.user.WbUserUiSettingDO" id="userUiSettingMap">
        <id property="id" column="id" />
        <result property="version" column="version" />
        <result property="dateCreated" column="date_created" />
        <result property="lastUpdated" column="last_updated" />
        <result property="userId" column="user_id" />
        <result property="narrowTheCorpus" column="narrow_the_corpus" />
        <result property="companyView" column="company_view" />
        <result property="narrowTheKanban" column="narrow_the_kanban" />
        <result property="dayAlertTime" column="day_alert_time" />
        <result property="narrowTheCompany" column="narrow_the_company" />
        <result property="expireAlertFlag" column="expire_alert_flag" />
        <result property="lunarFlag" column="lunar_flag" />
        <result property="themeSkin" column="theme_skin" />
        <result property="phoneThemeSkin" column="phone_theme_skin" />
        <result property="registAlertFlag" column="regist_alert_flag" />
        <result property="showTipBox" column="show_tip_box" />
        <result property="narrowTheInbox" column="narrow_the_inbox" />
        <result property="narrowTheApplication" column="narrow_the_application" />
        <result property="festivalFlag" column="festival_flag" />
        <result property="themeBg" column="theme_bg" />
        <result property="firstDeleteFlag" column="first_delete_flag" />
        <result property="inboxMode" column="inbox_mode" />
    </resultMap>
    <sql id="select-all-fields-user-ui-setting">
        id,
        version,
        date_created,
        last_updated,
        user_id,
        narrow_the_corpus,
        company_view,
        narrow_the_kanban,
        day_alert_time,
        narrow_the_company,
        expire_alert_flag,
        lunar_flag,
        theme_skin,
        phone_theme_skin,
        regist_alert_flag,
        show_tip_box,
        narrow_the_inbox,
        narrow_the_application,
        festival_flag,
        theme_bg,
        first_delete_flag,
        inbox_mode
    </sql>
    <select id="getUserUiSettingByUserId" resultMap="userUiSettingMap">
        SELECT <include refid="select-all-fields-user-ui-setting"/>  FROM `user_ui_setting`
        <![CDATA[
			WHERE user_id=#{userId}
		 ]]>
    </select>

    <!--userFunctionSetting相关-->
    <insert id="saveOrUpdateUserFunctionSetting" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_function_setting (
            version,
            user_id,
            is_open_notification_plugin,
            week_begins,
            shake_mode,
            read_collage_count
        )VALUES(
            0,
            #{userId},
            #{isOpenNotificationPlugin},
            #{weekBegins},
            #{shakeMode},
            #{readCollageCount}
        )ON DUPLICATE KEY UPDATE
            version=version+1,
            is_open_notification_plugin=#{isOpenNotificationPlugin},
            week_begins=#{weekBegins},
            shake_mode=#{shakeMode}
    </insert>
    <resultMap type="com.workbei.model.domain.user.WbUserFunctionSettingDO" id="userFunctionSettingMap">
        <id property="id" column="id" />
        <result property="version" column="version" />
        <result property="userId" column="user_id" />
        <result property="isOpenNotificationPlugin" column="is_open_notification_plugin" />
        <result property="weekBegins" column="week_begins" />
        <result property="shakeMode" column="shake_mode" />
        <result property="readCollageCount" column="read_collage_count" />
    </resultMap>
    <sql id="select-all-fields-user-function-setting">
        id,
        version,
        user_id,
        is_open_notification_plugin,
        week_begins,
        shake_mode,
        read_collage_count
    </sql>
    <select id="getUserFunctionSettingByUserId" resultMap="userFunctionSettingMap">
        SELECT <include refid="select-all-fields-user-function-setting"/>  FROM `user_function_setting`
        <![CDATA[
			WHERE user_id=#{userId}
		 ]]>
    </select>
</mapper>