<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <!--fastjson 作为message-converters有问题，先用jackson-->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
            <!--<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter" />-->
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:annotation-driven />

    <!--配置需要扫描的包-->
    <context:component-scan base-package="com.workbei.controller.demo" />
    <context:component-scan base-package="com.workbei.controller" />
    <context:component-scan base-package="com.workbei.service" />
    <context:component-scan base-package="com.workbei.config" />

    <mvc:resources mapping="/checkpreload.html" location="/checkpreload.html" />
</beans>